<!DOCTYPE html>
<html lang="{{translations['language']}}">

<head>
    <meta charset="UTF-8">
    <title>{{ main_info["name"] }}</title>
    <link rel="stylesheet" href="assets/cv.css">
</head>

<body>
    <header class="cv-header">
        <address class="contact grid-item-start">
            <div>{{contacts[0]["address"]}}</div>
        </address>
        <figure>
            <img class="avatar" src="assets/avatar.jpg" alt="">
            <figcaption>
                <div>{{ main_info["name"] }}</div>
                <div>{{main_info["title"]}} -
                    {{main_info["location"]}}
                </div>
            </figcaption>
        </figure>
        <address class="contact grid-item-end">
            <div>{{contacts[1]["address"]}}</div>
        </address>
    </header>
    <main>
        <div class="summary">{{summary}}</div>
        <div>
            <div>
                <header class="section-heading">{{translations["skills"]}}</header>
                <table>
                    <thead>
                        <tr>
                            {% for skill in skills %}
                            <th>{{ skill.keys() | first}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for skill in skills %}
                            <td>
                                <ul>
                                    {% set skill_values_list = skill.values() | first %}
                                    {% for skill_value in skill_values_list %}
                                    <li>{{skill_value | trim}}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
            <section>
                <header class="section-heading">{{translations["experiences"]}}</header>
                {% for experience in experiences %}
                {% if not experience["hide"] %}
                <article class="experience">
                    <header class="experience-header">
                        <div>{{experience['company']}}, {{experience["location"]}}</div>
                        <div>
                            <span>{{experience["start_date_str"]}} - {{experience.get("end_date_str", translations["current"])}}
                                {% if experience["duration"] %}
                                ({{experience["duration"]}} {{translations["years"]}})
                                {% endif %}
                            </span>
                        </div>
                    </header>
                    <div>
                        <div class="experience-title">{{experience["title"]}}</div>
                        {% if experience["summary"] %}
                        <div class="experience-company-description">
                            {{experience["summary"]}}
                        </div>
                        {% endif %}
                        <ul>

                            {% set experience_description_items = experience["description"].split("\n\n") %}
                            {% for experience_description_item in experience_description_items %}
                            <li>{{experience_description_item}}</li>
                            {% endfor %}
                        </ul>
                        <footer class="experience-skills">{{experience["environment"]}}</footer>
                    </div>
                </article>
                {% endif %}
                {% endfor %}
            </section>
            <section>
                <header class="section-heading">{{translations["conferences"]}}</header>
                <div class="conferences">
                    {% for conference in conferences %}
                    {% if not conference["hide"] %}
                    <article class="conference">
                        <div class="conference-title">{{conference["title"]}}</div>
                        <div class="conference-conference">{{conference["conference"]}}</div>
                    </article>
                    {% endif %}
                    {% endfor %}
                </div>
            </section>
            <section>
                <header class="section-heading">{{translations["publications"]}}</header>
                {% for publication in publications %}
                <article>
                    <div class="publication-title"><a href="{{publication['link']}}">{{publication["title"]}}</a>
                    </div>
                    {% if publication["coauthors"] %}
                    <div class="publication-coauthors">
                        {{translations["coauthors"]}}{{publication["coauthors"]}}
                    </div>
                    {% endif %}
                    <div>{{publication["date"]}}, {{publication["publication"]}}</div>
                </article>
                {% endfor %}
            </section>
            <section>
                <header class="section-heading">{{translations["education"]}}</header>
                <div class="educations">
                    {% for diploma in education %}
                    {% if not diploma["hide"] %}
                    <article class="education">
                        <div class="education-degree">{{diploma["degree"]}}</div>
                        <div class="education-institution">{{diploma["institution"]}}</div>
                        <div>{{translations["french_equivalent"]}}{{diploma["french_degree"]}}</div>
                    </article>
                    {% endif %}
                    {% endfor %}
                </div>
            </section>
        </div>
        <section>
            <header class="section-heading">{{translations["principles"]}}</header>
            <div class="principles">
                {% for principle in principles %}
                <div class="principle">{{principle}}</div>
                {% endfor %}
            </div>
        </section>
    </main>
</body>

</html>