<!DOCTYPE html>
<html lang="{{translations['language']}}">

<head>
    <meta charset="UTF-8">
    <title>{{ main_info["name"] }}</title>
    <link rel="stylesheet" href="assets/cv.css">
</head>

<body>
    <header>
        <img class="avatar" src="assets/avatar.jpg" alt="">
        <div>
            <div>{{ main_info["name"] }}</div>
            <div>{{main_info["title"]}} -
                {{main_info["location"]}}
            </div>
            <div class="contact">
                {% for contact in contacts %}
                <div>{{contact["address"]}}</div>
                {% endfor %}
            </div>
        </div>
    </header>
    <main>
        <div class="summary">{{summary}}</div>
        <div>
            <div>
                <div class="section-heading">{{translations["skills"]}}</div>
                <table>
                    <thead>
                        <tr>
                            {% for skill in skills %}
                            <th>{{ skill.keys() | first}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for skill in skills %}
                            <td>
                                <ul>
                                    {% set skill_values_list = skill.values() | first %}
                                    {% for skill_value in skill_values_list %}
                                    <li>{{skill_value | trim}}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <div class="section-heading">{{translations["experiences"]}}</div>
                {% for experience in experiences %}
                {% if not experience["hide"] %}
                <div class="experience">
                    <div class="experience-header">
                        <div>{{experience['company']}}, {{experience["location"]}}</div>
                        <div>
                            <span>{{experience["start_date_str"]}} - {{experience.get("end_date_str", translations["current"])}}
                                {% if experience["duration"] %}
                                ({{experience["duration"]}} {{translations["years"]}})
                                {% endif %}
                            </span>
                        </div>
                    </div>
                    <div>
                        <div class="experience-title">{{experience["title"]}}</div>
                        {% if experience["summary"] %}
                        <div class="experience-company-description">
                            {{experience["summary"]}}
                        </div>
                        {% endif %}
                        <ul>

                            {% set experience_description_items = experience["description"].split("\n\n") %}
                            {% for experience_description_item in experience_description_items %}
                            <li>{{experience_description_item}}</li>
                            {% endfor %}
                        </ul>
                        <div class="experience-skills">{{experience["environment"]}}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="section-heading">{{translations["conferences"]}}</div>
            <div>
                <ul>
                    {% for conference in conferences %}
                    <li>
                        <div class="conference-title">{{conference["title"]}}</div>
                        <div>{{conference["conference"]}}</div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="section-heading">{{translations["publications"]}}</div>
            <div>
                <ul>
                    {% for publication in publications %}
                    <li>
                        <div>
                            <div class="publication-title"><a href="{{publication['link']}}">{{publication["title"]}}</a>
                            </div>
                            {% if publication["coauthors"] %}
                            <div class="publication-coauthors">
                                {{translations["coauthors"]}}{{publication["coauthors"]}}
                            </div>
                            {% endif %}
                            <div>{{publication["date"]}}, {{publication["publication"]}}</div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="section-heading">{{translations["education"]}}</div>
            <div>
                <ul>
                    {% for diploma in education %}
                    {% if not diploma["hide"] %}
                    <li>
                        <div>
                            <div class="education-degree">{{diploma["degree"]}}</div>
                            <div class="education-institution">{{diploma["institution"]}}</div>
                            <div>{{translations["french_equivalent"]}}{{diploma["french_degree"]}}</div>
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div>
            <div class="section-heading">{{translations["principles"]}}</div>
            <ul>
                {% for principle in principles %}
                <li>
                    <span>{{principle}}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </main>
</body>

</html>